@media (max-width: 991px) {
	.plutonium-title {
	float: left !important;
	clear: both !important;
	text-align: center !important;
 }
	#mobile-title {
	float: none !important;
	padding-top: 0 !important;
	text-align: center;
 }
	#hostname {
	float: none !important;
 }
	#local-ip {
	float: none !important;
 }
	.logo-image {
	float: none !important;
	display: block !important;
	margin: 0 auto !important;
 }
}

@media (max-width: 479px) {
	.plutonium-title {
	float: left !important;
 }
	.logo-image {
	float: none !important;
	display: block !important;
	margin: 0 auto !important;
 }
}

@media (max-width: 767px) {
	.logo-image {
	width: 100% !important;
	float: none !important;
	margin: 0 auto;
 }
	section.container p {
	width: 92% !important;
	margin: initial !important;
 }
	.plutonium-title {
	float: left !important;
 	text-align: center !important;
 }
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

/*
@font-face {
  font-family: 'COCOMAT-Light';
  src: url('http://mateen.xyz/fonts/COCOMAT-Light.eot?#iefix') format('embedded-opentype'),  url('http://mateen.xyz/fonts/COCOMAT-Light.woff') format('woff'), url('http://mateen.xyz/fonts/COCOMAT-Light.ttf')  format('truetype'), url('http://mateen.xyz/fonts/COCOMAT-Light.svg#COCOMAT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'COCOMAT-Light';
}

.panel-body {
    padding: 15px;
    font-family: monospace;
    font-size: 20px;
}

.one_half {
	margin-right: 4%;
	float: left;
	line-height:21px;
	margin-bottom:20px;
	position:relative; 
}

.one_half { 
	width: 48%;
}

.last {
	margin-right: 0 !important;
	clear: right;
}

/*
 .plutonium-title {
  text-align: center;
}
*/

.logo-image {
  width: 275px;
  float: left;
  margin-bottom: 30px;
}

/*
section.container p {
  width: 50vw;
  margin: 0 auto;
}
*/

.box {
  margin: 1rem;
  width: 18.75rem;
}
.box img {
  width: 100%;
}

.btn:hover {
  cursor: pointer;
}

.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 10px 10px 50px;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  height: 150px;
  font-size: 31px;
}
.btn.color-1 {
  background-color: #426FC5;
}
.btn.color-2 {
  background-color: #00897b;
}
.btn.color-3 {
  background-color: #f6774f;
}
.btn.color-4 {
  background-color: #e94043;
}

.btn.color-5 {
  background-color: #455a64;
}

.btn-border.color-1 {
  background-color: transparent;
  border: 2px solid #426FC5;
  color: #426FC5;
}
.btn-border.color-2 {
  background-color: transparent;
  border: 2px solid #00897b;
  color: #00897b;
}
.btn-border.color-3 {
  background-color: transparent;
  border: 2px solid #f6774f;
  color: #f6774f;
}
.btn-border.color-4 {
  background-color: transparent;
  border: 2px solid #e94043;
  color: #e94043;
}

.btn-border.color-5 {
  background-color: transparent;
  border: 2px solid #455a64;
  color: #455a64;
}

.btn-round {
  border-radius: 10em;
}

.material-design {
  position: relative;
}
.material-design canvas {
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  align-content: center;
  align-items: flex-start;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: none;
}

.white-button {
	display: inline-block;
	width: 100%;
}

.white-button p input {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #efefef), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #efefef 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #efefef 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #efefef 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #efefef 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #efefef 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	text-transform: uppercase;
}
.white-button p input:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.white-button p input:active {
	position:relative;
	top:1px;
}

.button1 p input {
  display: block;
  width: 20%;
  color: #f00;
  border: 1px solid;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

