[Unit]
Description=Gunicorn instance to serve neptune webpage
After=network.target

[Service]
User=pluto
Group=www-data
WorkingDirectory=/var/www/neptune-admin
Environment="PATH=/var/www/neptune-admin/venv/bin"
ExecStart=/var/www/neptune-admin/venv/bin/gunicorn --workers 3 --bind unix:neptune.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
