[Unit]
Description=Gunicorn instance to serve rez webpage
After=network.target

[Service]
User=pluto
Group=www-data
WorkingDirectory=/var/www/rez
Environment="PATH=/var/www/rez/venv/bin"
ExecStart=/var/www/rez/venv/bin/gunicorn --workers 3 --bind unix:rez.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
