
    {% if title %}
    <title>{{ title }} - Neptune Admin Page</title>
    {% else %}
    <title>Neptune Admin Page</title>
    {% endif %}

<div>
    <h1 class="neptune-title" id="mobile-title">Neptune Admin Page<h1/>
</div> 

<!-- Side navigation -->
    <div class="sidenav">
     <a href="/">Home</a>
     <a href="/ingest">Ingest</a>
     <a href="/schedule">Schedule</a>
     <a href="/mixer">Mixer</a>
     <a href="/record">Record</a>
     <a href="/archive">Archive</a>
     <a href="/delivery">Delivery</a>
    </div>



 </head>
  <body>
      <div class="main">
       {% block content %}{% endblock %}
      </div> 
  </body>
</html>
